<!-- Nav (Mobile) -->
<div class="ds-grid ds-hide-lg ds-affix ds-full-width ds-bg-neutral-1 ds-border-b-neutral-3" id="top-of-page"
style="z-index:100;">
<div class="ds-row">
  <div class="ds-col-xs-8 ds-offset-xs-2 ds-text-align-center">
  <a class="ds-link-unstyled ds-pad-1 ds-display-inline-block" href="#">
    <h4 class="ds-heading-3 ds-mar-b-0">
    CBN
    <span class="ds-badge ds-neutral" style="transform: translateY(-.1rem);text-transform:none;">beta</span>
    </h4>
  </a>
  </div>
  <button class="ds-button ds-flat ds-width-auto ds-pad-0_5 ds-mar-0" id="nav-overlay-open" style="position:absolute;left:.71rem;top:.71rem;">
  <span class="ds-icon-menu ds-icon-size-default"></span>
  </button>
</div>
<!-- Overlay -->
<div class="ds-overlay-fullscreen" id="nav-overlay" aria-hidden="true" hidden="true">
  <div class="ds-overlay-box" role="document">
  <button type="button" class="ds-close ds-button ds-flat ds-close-button-right ds-close-button" aria-label="close"
    tabindex="0">
    <span class="ds-icon-close"></span>
  </button>
  <div class="ds-overlay-content">
    <div class="ds-col-xs-8 ds-offset-xs-2 ds-text-align-center">
    <a class="ds-link-unstyled ds-pad-1 ds-display-inline-block" href="#">
      <h4 class="ds-heading-3 ds-mar-b-0">
      CBN
      <span class="ds-badge ds-neutral" style="transform: translateY(-.1rem);text-transform:none;">beta</span>
      </h4>
    </a>
    </div>
    <ul class="ds-accordion-container ds-mar-b-2">
    <!-- Accordion Content 1 -->
    <li>
      <div class="ds-accordion-item" id="accordion-control-nav-sem" tabindex="0">
      <div class="ds-accordion-title ds-label ds-mar-b-0 ds-col-xs-10 ds-offset-xs-1 ds-col-sm-10 ds-offset-sm-1 ds-col-md-6 ds-offset-md-3">
        Sem
      </div>
      <div class="ds-accordion-slidedown">
        <div class="ds-col-xs-12 ds-col-sm-10 ds-offset-sm-1 ds-col-md-6 ds-offset-md-3">
        <ul class="ds-list-unstyled ds-mar-b-0 ds-pad-b-0 ds-pad-l-sm-1">
          <li><a class="ds-text-neutral-6" href="#.html" tabindex="-1">Voluptatem</a></li>
          <li><a class="ds-text-neutral-6" href="#.html" tabindex="-1">Nostrum</a></li>
          <li><a class="ds-text-neutral-6" href="#.html" tabindex="-1">Cillum</a></li>
          <li><a class="ds-text-neutral-6" href="#.html" tabindex="-1">Explicabo</a></li>
        </ul>
        </div>
      </div>
      </div>
    </li>
    <li>
      <!-- Accordion Content 2 -->
      <div class="ds-accordion-item" id="accordion-control-nav-fingilla" tabindex="0">
      <div class="ds-accordion-title ds-label ds-mar-b-0 ds-col-xs-10 ds-offset-xs-1 ds-col-sm-10 ds-offset-sm-1 ds-col-md-6 ds-offset-md-3">
        Fingilla
      </div>
      <div class="ds-accordion-slidedown">

        <div class="ds-col-xs-12 ds-col-sm-10 ds-offset-sm-1 ds-col-md-6 ds-offset-md-3">
        <ul class="ds-list-unstyled ds-mar-b-0 ds-pad-b-0 ds-pad-l-sm-1">
          <li><a class="ds-text-neutral-6" href="#.html" tabindex="-1">Numquam</a></li>
          <li><a class="ds-text-neutral-6" href="#.html" tabindex="-1">Laudantium</a></li>
          <li><a class="ds-text-neutral-6" href="#.html" tabindex="-1">Accusantium</a></li>
          <li><a class="ds-text-neutral-6" href="#.html" tabindex="-1">Dolor</a></li>
          <li><a class="ds-text-neutral-6" href="#.html" tabindex="-1">Omnis</a></li>
        </ul>
        </div>
      </div>
      </div>
    </li>
    <li>
      <div class="ds-col-xs-10 ds-offset-xs-1 ds-col-sm-10 ds-offset-sm-1 ds-col-md-6 ds-offset-md-3 ds-mar-t-1 ds-mar-b-1">
      <a class="ds-text-neutral-6 ds-label ds-pad-l-3" href="#.html" tabindex="-1">Consectuer</a>
      </div>
    </li>
    <li>
      <div class="ds-col-xs-10 ds-offset-xs-1 ds-col-sm-10 ds-offset-sm-1 ds-col-md-6 ds-offset-md-3 ds-mar-t-1 ds-mar-b-1">
      <a class="ds-text-neutral-6 ds-label ds-pad-l-3" href="#.html" tabindex="-1">Cras</a>
      </div>
    </li>
    </ul>
  </div>
  </div>
</div>
</div>

    <!-- Nav (Desktop) -->
<div class="ds-grid ds-hide ds-display-lg-block ds-tray-container ds-affix ds-full-width ds-bg-neutral-1 ds-border-b-neutral-1">
    <div class="ds-row ds-pad-l-1 ds-pad-r-01 ds-pad-t-0_5 ds-pad-b-0_5">
    <div class="ds-col-2"  >
      <div class="ds-flex ds-flex-align-items-center"  >
      <h4 class="ds-heading-3 ds-mar-b-0 ds-pad-t-0_5" (click)="home()" >CBN</h4>
      <span class="ds-badge ds-neutral ds-mar-t-0_5 ds-mar-l-0_5" style="text-transform:none;">beta</span>
      </div>
    </div>
    <div class="ds-col-10   ">
      <div class="ds-tray-fit-content">
      <button class="ds-button ds-mar-r-1 ds-mar-l-1 ds-flat tray-nav-sem-open" [routerLink]="['Apps']">Applications</button>
      <!-- <button class="ds-button ds-mar-r-1 ds-mar-l-1 ds-flat tray-nav-fingilla-open">Users</button> -->
      <button class="ds-button ds-mar-r-0 ds-mar-l-20 ds-flat">Add User</button>
      <!-- <button class="ds-button ds-mar-r-1 ds-mar-l-1 ds-flat">Cras</button> -->
      </div>
    </div>
    </div>

  </div>
