<div style="position: relative; top: 75px" class="ds-grid ds-hide ds-display-lg-block ds-tray-container ds-affix ds-full-width ds-bg-neutral-1 ds-border-b-neutral-3">
  <div class="ds-row ds-pad-l-1 ds-pad-r-01 ds-pad-t-0_5 ds-pad-b-0_5">
<p>
  applications works!
</p>

<div class="ds-row ds-pad-b-3">
  <div class="ds-col-2 ds-pad-b-xs-1">
      <div class="ds-panel ds-panel-raised">
          <img src="../../assets/images/12.jpg" class="ds-img-force-grow" alt="place-holder">
          <div class="ds-panel-container">
              <h3 class="ds-mar-t-0">WSE</h3>
              <p class="ds-panel-content ds-text-small ds-text-align-left">SUpport and develop</p>
              <button class="ds-button ds-primary ds-small">Button</button>
          </div>
      </div>
  </div>
  <div class="ds-col-2">
      <div class="ds-panel ds-panel-raised">
          <img src="../../assets/images/12.jpg" class="ds-img-force-grow" alt="place-holder">
          <div class="ds-panel-container">
              <h3 class="ds-mar-t-0">VTS CUP</h3>
              <p class="ds-panel-content ds-text-small ds-text-align-left">SUpport and develop</p>
              <button class="ds-button ds-primary ds-small">Button</button>
          </div>
      </div>
  </div>
</div>
  </div>
</div>
