<div class="ds-carousel ds-autoplay ds-infinite">
  <div class="ds-carousel-items">
      <div>
          <div class="ds-blockquote ds-col-xs-10 ds-offset-xs-1"
          style="background-image: url('./assets/images/12.jpg');background-position:center;background-size:cover;background-repeat:no-repeat; min-height: 400px">
              
          </div>
      </div>
      <div>
          <div>
              <div class="ds-blockquote ds-col-xs-10 ds-offset-xs-1"
              style="background-image: url('./assets/images/12.jpg');background-position:center;background-size:cover;background-repeat:no-repeat; min-height: 400px">
                  
              </div>
          </div>
      </div>
      <div>
          <div>
              <div class="ds-blockquote ds-col-xs-10 ds-offset-xs-1"
              style="background-image: url('./assets/images/12.jpg');background-position:center;background-size:cover;background-repeat:no-repeat; min-height: 400px">
                  
              </div>
          </div>
      </div>
     
     
  </div>
</div>