<!-- <div class="ds-carousel ds-autoplay ds-infinite">
  <div class="ds-carousel-items">
      <div>
          <div class="ds-blockquote ds-col-xs-10 ds-offset-xs-1"
          style="background-image: url('./assets/images/12.jpg');background-position:center;background-size:cover;background-repeat:no-repeat; min-height: 400px">

          </div>
      </div>
      <div>
          <div>
              <div class="ds-blockquote ds-col-xs-10 ds-offset-xs-1"
              style="background-image: url('./assets/images/12.jpg');background-position:center;background-size:cover;background-repeat:no-repeat; min-height: 400px">

              </div>
          </div>
      </div>
      <div>
          <div>
              <div class="ds-blockquote ds-col-xs-10 ds-offset-xs-1"
              style="background-image: url('./assets/images/12.jpg');background-position:center;background-size:cover;background-repeat:no-repeat; min-height: 400px">

              </div>
          </div>
      </div>


  </div>
</div>
 -->
 <div class="ds-bg-dark ds-pad-t-3" style="position: relative; top: 15px">
    <div class="hero-img ds-full-width ds-flex ds-flex-nowrap ds-flex-align-items-center ds-pad-l-3 ds-pad-r-3"
      style="background-image: url('./assets/images/12.jpg');background-position:center;background-size:cover;background-repeat:no-repeat; min-height: 500px">
      <div class="ds-row">
        <div class="ds-col-12">
          <h4 class="ds-heading-4">CBN</h4>
          <h1 class="ds-heading-lg-1">Continueos Business Needs</h1>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies
            vehicula ut id elit.

          </p>
        </div>
      </div>
    </div>
  </div>
